<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="primary"></ion-back-button>
    </ion-buttons>
    
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header titulo="alert"></app-header>
<ion-content>

  <ion-button (click)="presentAlert()" expand="block">
    Alert
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block">
    Alert MultipleButtons
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block">
    Alert Prompt
  </ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block">
    Alert Radio
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()" expand="block">
    Alert Check
  </ion-button>

</ion-content>